# Loyola Supply Chain Data Analysis Competition

## Contributers:

    Aarij Rehman
    Charlie Marshall

## Loading Packages

In [46]:
import pandas as pd
import numpy as np
import datetime as dt

## Loading in Data

For Charlie's Directory

In [4]:
FreightWaves=pd.read_excel("/Users/charlesmarshall/Desktop/Loyola-Supply-Chain-Competition/FreightWaves External Data.xlsx")

In [49]:
ShipperData=pd.read_excel("/Users/charlesmarshall/Desktop/Loyola-Supply-Chain-Competition/Loyola 2nd Annual Data Competition - Shipper Data Set (Trailing 2-Years).xlsx")

For Aarij's Directory

In [7]:
FreightWaves=pd.read_excel("/Users/aarij/Desktop/python-projects/loyola-supply-chain/FreightWaves External Data.xlsx")

In [6]:
ShipperData=pd.read_excel("/Users/aarij/Desktop/python-projects/loyola-supply-chain/Loyola 2nd Annual Data Competition - Shipper Data Set (Trailing 2-Years).xlsx")

In [8]:
ShipperData.head()

,Load Number,Book Date,Pickup Date,Delivery Date,Origin Market,3-Digit Origin #,Origin State,Dest Market,3-Digit Dest #,Dest State,Mode,Mileage,Spot/Contract,Revenue,Accessorial Cost,Load Type
0,1046,2018-02-26,2018-02-26,2018-02-27,Atlanta,300,GA,NaN,217,MD,Temp Control,1316,Spot,1650.00,0,Ad-hoc
1,1223,2018-02-15,2018-02-16,2018-02-18,Chicago,463,IN,NaN,820,WY,Temp Control,1920,Spot,3480.00,0,Ad-hoc
2,1280,2018-02-15,2018-02-15,2018-02-19,Los Angeles,906,CA,NaN,554,MN,Dry Van,3816,Spot,3567.80,0,Ad-hoc
3,1282,2018-02-15,2018-02-16,2018-02-20,Chicago,601,IL,Chicago,606,IL,Dry Van,48,Spot,203.35,-42,Ad-hoc
4,1340,2018-02-16,2018-02-19,2018-02-19,Chicago,606,IL,Chicago,607,IL,Dry Van,42,Spot,343.88,0,Dedicated

## EDA

Understanding the data:

In [9]:
ShipperData['Book Date']=pd.to_datetime(ShipperData['Book Date'])
ShipperData['Pickup Date']=pd.to_datetime(ShipperData['Pickup Date'])
ShipperData['Delivery Date']=pd.to_datetime(ShipperData['Delivery Date'])

In [10]:
set(ShipperData['Origin Market'])

{'Atlanta', 'Chicago', 'Dallas', 'Los Angeles', 'Philadelphia', 'Seattle'}

In [54]:
set(ShipperData['Dest Market'])

{'Atlanta', 'Chicago', 'Dallas', 'Los Angeles', 'Philadelphia', 'Seattle', nan}

In [11]:
set(ShipperData['Mode'])

{'Air',
 'Drayage',
 'Dry Van',
 'FlatBed',
 'Intermodal',
 'Ocean',
 'Other',
 'Reefer',
 'Temp Control',
 'Truck'}

In [12]:
set(ShipperData['Spot/Contract'])

{'Contract', 'Spot'}

In [13]:
set(ShipperData['Load Type'])

{'Ad-hoc', 'Consistent', 'Critical', 'Dedicated', 'Standard', 'White Glove'}

## Preprocessing

Some preproccessing that needs to be done to the whole data set

### 7 FreightWaves Futures Lanes:
    VLS (LA -> Seattle)
    VSL (Seattle -> LA)
    VLD (LA -> Dallas)
    VDL (Dallas -> LA)
    VCA (Chicago -> Atlanta)
    VAP (Atlanta -> Philadelphia)
    VPC (Philadelphia -> Chicago)
    
    If the load is not delivered in one of these lanes, it will be marked 'Other'

## CHARLIE Q1 is not defined at this point

In [14]:
#Q1[ and Q1]
((Q1['Origin Market']=='Los Angeles') & (Q1['Dest Market']=='Seattle'))[4]

NameError: name 'Q1' is not defined

In [92]:
# Categorizing the Future Lanes
Lane = []
org = list(ShipperData['Origin Market'])
dst = list(ShipperData['Dest Market'])
los = 'Los Angeles'
sea = 'Seattle'
dal = 'Dallas'
chi = 'Chicago'
atl = 'Atlanta'
phi = 'Philadelphia'

futures = {}
futures[(los, sea)] = 'VLS'
futures[(sea, los)] = 'VSL'
futures[(los, dal)] = 'VLD'
futures[(dal, los)] = 'VDL'
futures[(chi, atl)] = 'VCA'
futures[(atl, phi)] = 'VAP'
futures[(phi, chi)] = 'VPC'

In [93]:
Lane=[]
for i in range(len(org)):
    if (org[i], dst[i]) in futures:
        Lane.append(futures[(org[i], dst[i])])
    else:
        Lane.append('Other')

In [94]:
ShipperData['Lane'] = Lane

In [95]:
ShipperData.head()

,Load Number,Book Date,Pickup Date,Delivery Date,Origin Market,3-Digit Origin #,Origin State,Dest Market,3-Digit Dest #,Dest State,Mode,Mileage,Spot/Contract,Revenue,Accessorial Cost,Load Type,Lane
0,1046,2018-02-26,2018-02-26,2018-02-27,Atlanta,300,GA,NaN,217,MD,Temp Control,1316,Spot,1650.00,0,Ad-hoc,Other
1,1223,2018-02-15,2018-02-16,2018-02-18,Chicago,463,IN,NaN,820,WY,Temp Control,1920,Spot,3480.00,0,Ad-hoc,Other
2,1280,2018-02-15,2018-02-15,2018-02-19,Los Angeles,906,CA,NaN,554,MN,Dry Van,3816,Spot,3567.80,0,Ad-hoc,Other
3,1282,2018-02-15,2018-02-16,2018-02-20,Chicago,601,IL,Chicago,606,IL,Dry Van,48,Spot,203.35,-42,Ad-hoc,Other
4,1340,2018-02-16,2018-02-19,2018-02-19,Chicago,606,IL,Chicago,607,IL,Dry Van,42,Spot,343.88,0,Dedicated,Other

## Questions to Ask:

#### Part 1    
    1) Does 2019 mean the book, pickup, or delivery date is in 2019? There are many times when the one of these three meaures are in another year while other measures are in 2019.
    2) When you say "Truckload" RPM", does this mean only for trucks and dry vans?
    3) How should we deal with instances where the mileage is 0 or blank? Outlier
    4) How would you define "volatility"? Does it have something to do with spot vs contract market prices and how they change? Maybe the spread of the prices?

## Question 1

    Calculating overall average Truckload rate per mile in 2019?  Hint: rate per mile is total revenue for a move divided by total mileage.  Please also note that “Dry Van” and “Truck” mean the same thing here:

    Steps:
    Year = 2019
    Truckload = "Dry Van" or "Truck" in Mode ??? NOT SURE IF "TRUCKLOAD" MEANS JUST THESE TWO ANYMORE ???
    Create column of Rate per mile (RPM), divide revenue by mileage for each truckload
    Sum the RPM column, divide by number of instances to find AVERAGE

### Converting all date columns to datetime

In [79]:
Shipper2019=ShipperData[ShipperData['Pickup Date'].dt.year == 2019].copy()

In [324]:
Q1=Shipper2019[Shipper2019['Mode'].isin(['Dry Van','Truck'])]

In [325]:
Q1=Q1.reset_index(drop=True)

In [244]:
Q1[Q1['Mileage']==0]

,Load Number,Book Date,Pickup Date,Delivery Date,Origin Market,3-Digit Origin #,Origin State,Dest Market,3-Digit Dest #,Dest State,Mode,Mileage,Spot/Contract,Revenue,Accessorial Cost,Load Type,Lane
39,155407,2019-01-04,2019-01-04,2019-01-07,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,250.54,-5,Dedicated,Other
61,138663,2019-01-02,2019-01-02,2019-01-31,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
62,138664,2019-01-02,2019-01-02,2019-01-31,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
64,141319,2019-01-03,2019-01-06,2019-02-06,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,575.00,575,Ad-hoc,Other
65,141320,2019-01-03,2019-01-06,2019-02-06,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
66,142784,2019-01-08,2019-01-08,2019-02-08,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
146,150415,2019-01-22,2019-01-22,2019-02-22,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
147,150423,2019-01-22,2019-01-22,2019-02-22,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
148,150428,2019-01-22,2019-01-22,2019-02-22,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
223,152133,2019-01-24,2019-01-27,2019-02-27,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
334,153448,2019-01-30,2019-01-30,2019-02-28,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
335,153454,2019-01-28,2019-01-28,2019-02-28,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
412,154170,2019-01-02,2019-01-01,2019-01-31,Chicago,606,IL,Chicago,606,IL,Dry Van,0,Spot,975.00,0,Dedicated,Other
416,154191,2019-01-02,2019-01-01,2019-01-31,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,3610.00,0,Ad-hoc,Other
425,154256,2019-01-02,2019-01-02,2019-01-02,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,0.00,-1,Ad-hoc,Other
428,154284,2019-02-01,2019-02-01,2019-02-28,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
429,154286,2019-02-01,2019-02-01,2019-02-28,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
595,155021,2019-01-03,2019-01-03,2019-01-03,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,60.00,0,Ad-hoc,Other
630,155577,2019-02-06,2019-02-06,2019-03-06,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,575.00,575,Ad-hoc,Other
631,155578,2019-02-06,2019-02-06,2019-03-06,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
873,156486,2019-01-07,2019-01-07,2019-01-07,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,60.00,0,Ad-hoc,Other
917,156735,2019-01-07,2019-01-02,2019-01-05,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,2601.30,0,Consistent,Other
918,156738,2019-01-07,2019-01-02,2019-01-05,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,3408.88,0,Consistent,Other
944,156897,2019-01-07,2019-01-07,2019-01-07,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,350.21,0,Dedicated,Other
946,156900,2019-01-07,2019-01-07,2019-01-07,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,350.21,0,Dedicated,Other
994,157158,2019-01-08,2019-01-08,2019-01-08,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,60.00,0,Ad-hoc,Other
1140,157846,2019-02-08,2019-02-08,2019-03-08,Chicago,605,IL,Chicago,605,IL,Dry Van,0,Spot,450.00,450,Ad-hoc,Other
1294,158519,2019-01-10,2019-01-10,2019-01-10,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,350.21,0,Dedicated,Other
1427,159223,2019-01-11,2019-01-15,2019-01-15,Chicago,608,IL,Chicago,608,IL,Dry Van,0,Spot,250.54,-104,Dedicated,Other
1443,159344,2019-01-11,2019-01-11,2019-01-11,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,60.00,0,Ad-hoc,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40749,378372,2019-12-04,2019-12-01,2019-12-30,Chicago,606,IL,Chicago,606,IL,Truck,0,Spot,345.00,345,Dedicated,Other
40750,378374,2019-12-04,2019-11-20,2019-12-19,Chicago,606,IL,Chicago,606,IL,Truck,0,Spot,345.00,345,Dedicated,Other
40751,378378,2019-12-04,2019-11-24,2019-12-23,Chicago,606,IL,Chicago,606,IL,Truck,0,Spot,345.00,345,Dedicated,Other
40752,378383,2019-12-04,2019-11-18,2019-12-18,Chicago,606,IL,Chicago,606,IL,Truck,0,Spot,345.00,345,Dedicated,Other
40814,378747,2019-12-05,2019-12-05,2019-12-05,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
41049,379637,2019-12-06,2019-12-06,2019-12-06,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
41137,379957,2019-12-06,2019-12-06,2019-12-26,Los Angeles,902,CA,NaN,968,HI,Truck,0,Contract,906.10,0,Standard,Other
41139,379960,2019-12-06,2019-12-06,2019-12-27,Los Angeles,902,CA,NaN,967,HI,Truck,0,Contract,841.89,0,Standard,Other
41228,380542,2019-12-09,2019-12-09,2019-12-09,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
41292,380941,2019-12-09,2019-12-02,2019-12-09,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,4440.80,0,Consistent,Other
41293,380943,2019-12-09,2019-12-02,2019-12-09,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,4267.75,0,Consistent,Other
41532,382077,2019-12-11,2019-12-11,2019-12-11,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
41745,382895,2019-12-12,2019-12-12,2019-12-12,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
42061,384578,2019-12-16,2019-12-16,2019-12-16,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
42181,385271,2019-12-17,2019-12-09,2019-12-15,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,4153.92,0,Consistent,Other
42184,385275,2019-12-17,2019-12-09,2019-12-15,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,4722.38,0,Consistent,Other
42215,385395,2019-12-17,2019-12-17,2019-12-17,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,60.00,0,Standard,Other
42687,387625,2019-12-23,2019-12-23,2019-12-23,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,60.00,0,Standard,Other
42732,387836,2019-12-23,2019-12-16,2019-12-20,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,3290.16,0,Consistent,Other
42734,387842,2019-12-23,2019-12-16,2019-12-20,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,4014.62,0,Consistent,Other
42906,388672,2019-12-30,2019-12-30,2019-12-30,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,60.00,0,Standard,Other
42908,388683,2019-12-30,2019-12-23,2019-12-27,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,1627.62,0,Consistent,Other
42909,388684,2019-12-30,2019-12-23,2019-12-27,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,2523.18,0,Consistent,Other
42917,388717,2019-12-31,2019-12-31,2019-12-31,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,60.00,0,Standard,Other
43065,389763,2020-01-06,2019-12-30,2020-01-03,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,2250.18,0,Consistent,Other
43066,389764,2020-01-06,2019-12-30,2020-01-03,Chicago,608,IL,Chicago,608,IL,Truck,0,Contract,2784.02,0,Consistent,Other
43067,389860,2019-12-06,2019-12-06,2020-01-06,Chicago,605,IL,Chicago,605,IL,Truck,0,Contract,575.00,0,Standard,Other
43068,389861,2019-12-06,2019-12-06,2020-01-06,Chicago,605,IL,Chicago,605,IL,Truck,0,Contract,450.00,0,Standard,Other
43095,392264,2019-12-12,2019-12-15,2020-01-15,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.00,0,Standard,Other
43104,396949,2019-12-30,2019-12-29,2020-01-30,Chicago,605,IL,Chicago,605,IL,Truck,0,Contract,450.00,0,Standard,Other

In [245]:
Q1[Q1['Revenue']==0]

,Load Number,Book Date,Pickup Date,Delivery Date,Origin Market,3-Digit Origin #,Origin State,Dest Market,3-Digit Dest #,Dest State,Mode,Mileage,Spot/Contract,Revenue,Accessorial Cost,Load Type,Lane
240,152630,2019-03-04,2019-01-02,2019-01-03,Los Angeles,917,CA,NaN,953,CA,Dry Van,(blank),Spot,0.0,0,Ad-hoc,Other
421,154220,2019-01-02,2019-01-02,2019-01-02,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
422,154222,2019-01-02,2019-01-03,2019-01-03,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
423,154224,2019-01-02,2019-01-04,2019-01-04,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
425,154256,2019-01-02,2019-01-02,2019-01-02,Chicago,601,IL,Chicago,601,IL,Dry Van,0,Spot,0.0,-1,Ad-hoc,Other
844,156401,2019-01-07,2019-01-07,2019-01-07,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
845,156404,2019-01-07,2019-01-08,2019-01-08,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
846,156406,2019-01-07,2019-01-09,2019-01-09,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
847,156407,2019-01-07,2019-01-10,2019-01-10,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
848,156408,2019-01-07,2019-01-11,2019-01-11,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
1545,159853,2019-01-11,2019-01-14,2019-01-14,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
1546,159859,2019-01-11,2019-01-15,2019-01-15,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
1547,159862,2019-01-11,2019-01-16,2019-01-16,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
1548,159864,2019-01-11,2019-01-17,2019-01-17,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
1549,159866,2019-01-11,2019-01-18,2019-01-18,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2296,162732,2019-01-18,2019-01-18,2019-01-22,Chicago,601,IL,NaN,236,VA,Dry Van,1786,Spot,0.0,0,Ad-hoc,Other
2506,163324,2019-01-21,2019-01-21,2019-01-21,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2508,163328,2019-01-21,2019-01-22,2019-01-22,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2509,163329,2019-01-21,2019-01-23,2019-01-23,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2510,163330,2019-01-21,2019-01-24,2019-01-24,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2512,163332,2019-01-21,2019-01-25,2019-01-25,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
2955,165361,2019-01-24,2019-01-24,2019-01-31,Chicago,601,IL,NaN,740,OK,Dry Van,1382,Spot,0.0,0,Ad-hoc,Other
3043,165735,2019-01-25,2019-01-28,2019-01-28,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3044,165737,2019-01-25,2019-01-29,2019-01-29,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3045,165739,2019-01-25,2019-01-30,2019-01-30,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3046,165742,2019-01-25,2019-02-01,2019-02-01,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3954,169297,2019-02-01,2019-02-04,2019-02-04,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3955,169299,2019-02-01,2019-02-05,2019-02-05,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3957,169305,2019-02-01,2019-02-06,2019-02-06,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
3958,169306,2019-02-01,2019-02-07,2019-02-07,Chicago,600,IL,Chicago,601,IL,Dry Van,44,Spot,0.0,0,Ad-hoc,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22197,287744,2019-06-28,2019-06-28,2019-06-28,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
22198,287747,2019-07-01,2019-07-01,2019-07-01,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
22199,287749,2019-07-01,2019-07-01,2019-07-01,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
22200,287750,2019-07-01,2019-07-01,2019-07-01,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
22201,287751,2019-07-01,2019-07-01,2019-07-01,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
22355,288482,2019-06-28,2019-07-01,2019-07-01,Chicago,601,IL,Chicago,606,IL,Truck,33.3,Spot,0.0,0,Standard,Other
23520,294201,2019-07-11,2019-07-11,2019-07-11,Chicago,604,IL,Chicago,605,IL,Truck,19.8,Contract,0.0,0,Standard,Other
24183,297578,2019-07-17,2019-07-17,2019-08-17,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other
24184,297580,2019-08-16,2019-08-16,2019-08-16,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other
25357,303938,2019-07-30,2019-07-30,2019-08-02,Seattle,983,WA,NaN,850,AZ,Truck,1451.9,Contract,0.0,0,White Glove,Other
27564,314508,2019-09-17,2019-09-17,2019-10-17,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other
28590,319090,2019-08-26,2019-08-26,2019-08-27,Dallas,752,TX,NaN,790,TX,Truck,338.1,Spot,0.0,0,Standard,Other
28784,320062,2019-08-26,2019-08-30,2019-08-30,Chicago,600,IL,Chicago,601,IL,Truck,22.2,Contract,0.0,0,Standard,Other
29562,323648,2019-09-03,2019-09-03,2019-09-03,Chicago,600,IL,Chicago,604,IL,Truck,69.4,Spot,0.0,0,Standard,Other
31278,331994,2019-10-16,2019-10-17,2019-11-17,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other
33693,343986,2019-10-08,2019-10-08,2019-10-09,Atlanta,306,GA,Atlanta,305,GA,Truck,17.9,Spot,0.0,0,White Glove,Other
33703,344005,2019-10-09,2019-10-24,2019-10-31,Chicago,601,IL,Chicago,601,IL,Truck,82.4,Contract,0.0,0,Standard,Other
34000,345430,2019-10-09,2019-10-07,2019-10-07,Chicago,601,IL,Chicago,601,IL,Truck,6.9,Spot,0.0,0,Standard,Other
34763,349242,2019-11-15,2019-11-17,2019-12-17,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other
35216,351292,2019-10-21,2019-10-21,2019-10-22,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
35217,351310,2019-10-21,2019-10-21,2019-10-22,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
35375,352126,2019-10-22,2019-10-22,2019-10-23,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
37085,360391,2019-11-04,2019-11-04,2019-11-05,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
37086,360392,2019-11-04,2019-11-04,2019-11-05,Chicago,601,IL,Chicago,601,IL,Truck,0,Contract,0.0,0,Standard,Other
38038,364708,2019-11-11,2019-11-11,2019-11-12,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,0.0,0,Standard,Other
38039,364709,2019-11-11,2019-11-11,2019-11-12,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,0.0,0,Standard,Other
38040,364710,2019-11-11,2019-11-11,2019-11-12,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,0.0,0,Standard,Other
38609,367367,2019-11-14,2019-11-14,2019-11-15,Chicago,601,IL,Chicago,601,IL,Truck,0,Spot,0.0,0,Standard,Other
39801,373387,2019-11-25,2019-11-25,2019-11-26,Chicago,601,IL,Atlanta,301,GA,Truck,737.1,Contract,0.0,-1,Standard,VCA
43095,392264,2019-12-12,2019-12-15,2020-01-15,Chicago,600,IL,Chicago,600,IL,Truck,0,Contract,0.0,0,Standard,Other

In [246]:
Q1['Revenue'][43095]/Q1['Mileage'][43095]

/Users/charlesmarshall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

nan

In [248]:
rpm=np.empty(len(Q1))

In [249]:
for i in range(len(Q1)):
    if Q1['Mileage'][i]==0:
        rpm[i]=12345
    else:
        try:
            rpm[i]= Q1['Revenue'][i]/Q1['Mileage'][i]
        except TypeError:
            rpm[i]=54321

In [250]:
# 762 (out of 43,000) instances where the revenue is 0
len(rpm[rpm==12345])

762

In [251]:
for i in range(len(Q1)):
    if Q1['Mileage'][i]==0:
        rpm[i]=0
    else:
        try:
            rpm[i]= Q1['Revenue'][i]/Q1['Mileage'][i]
        except TypeError:
            rpm[i]=0

In [252]:
Q1['RPM'] = rpm

In [254]:
Average2019RPM=sum(Q1['RPM'])/len(Q1)

In [255]:
Average2019RPM

3.605813503312686

### Question 1a

    Using this Redwood rate per mile data, rank the 7 FreightWaves Futures lanes (page 2 at link) by rate volatility for full year 2019.
    
    Volatility = sd
    So, the Futures lanes will be ranked by sd of RPM data. Highest to lowest.

In [286]:
LaneVolitility2019=pd.DataFrame(Q1.groupby('Lane')['RPM'].std(),columns=['RPM']).drop(['Other']).sort_values(by=['RPM'],ascending=False)

In [287]:
LaneVolitility2019

           RPM
Lane
VPC   5.410751
VCA   1.275223
VLS   0.789660
VAP   0.625256
VLD   0.552769
VDL   0.357352
VSL   0.296679

### Question 1b

    Rank these lanes by total Redwood Truckload volume for full year 2019.
    
    Defining "volume" as the number (count) of truckloads delivered in each lane in 2019.

In [318]:
LaneVolume2019=pd.DataFrame(Q1.groupby('Lane')['RPM'].count()).drop(['Other']).sort_values(by=['RPM'],ascending=False).rename(columns={'RPM':'Volume'})

In [319]:
LaneVolume2019

      Volume
Lane
VCA      396
VSL      275
VDL      198
VPC      197
VLS      174
VLD      107
VAP       40

## Question 2

    Rank the lanes provided in the FreightWaves data by total intermodal volume for full year 2019.

In [322]:
Q2=Shipper2019[Shipper2019['Mode'].isin(['Intermodal'])]

In [326]:
Q2=Q2.reset_index(drop=True)

In [335]:
IntermodalLaneVolume2019=pd.DataFrame(Q2.groupby('Lane')['Load Number'].count()).drop(['Other']).sort_values(by=['Load Number'],ascending=False).rename(columns={'RPM':'Volume'})

In [336]:
IntermodalLaneVolume2019

      Load Number
Lane
VDL            47
VLD            29
VCA             1

## Question 3

    Graph monthly volatility in fuel prices by markets provided in the FreightWaves data.  Do any markets stand out to you in particular?

In [337]:
FreightWaves

,ticker,granularity1,symbol,data_timestamp,data_value,index_name,Description
0,COSP,RES,COSP.RES,2019-04-30,512113.00,"Total Construction Spending (000,000s)",Residential
1,COSP,RES,COSP.RES,2019-09-30,529455.00,"Total Construction Spending (000,000s)",Residential
2,COSP,RES,COSP.RES,2019-11-30,540457.00,"Total Construction Spending (000,000s)",Residential
3,COSP,RES,COSP.RES,2018-02-28,577315.00,"Total Construction Spending (000,000s)",Residential
4,COSP,RES,COSP.RES,2018-12-31,517951.00,"Total Construction Spending (000,000s)",Residential
5,COSP,RES,COSP.RES,2019-12-31,548027.00,"Total Construction Spending (000,000s)",Residential
6,COSP,RES,COSP.RES,2018-09-30,536729.00,"Total Construction Spending (000,000s)",Residential
7,COSP,RES,COSP.RES,2018-11-30,527986.00,"Total Construction Spending (000,000s)",Residential
8,COSP,RES,COSP.RES,2019-01-31,514893.00,"Total Construction Spending (000,000s)",Residential
9,COSP,RES,COSP.RES,2019-08-31,525229.00,"Total Construction Spending (000,000s)",Residential
10,COSP,RES,COSP.RES,2018-07-31,549175.00,"Total Construction Spending (000,000s)",Residential
11,COSP,RES,COSP.RES,2019-10-31,532521.00,"Total Construction Spending (000,000s)",Residential
12,COSP,RES,COSP.RES,2018-06-30,552589.00,"Total Construction Spending (000,000s)",Residential
13,COSP,RES,COSP.RES,2019-02-28,512980.00,"Total Construction Spending (000,000s)",Residential
14,COSP,RES,COSP.RES,2018-03-31,562170.00,"Total Construction Spending (000,000s)",Residential
15,COSP,RES,COSP.RES,2018-05-31,562939.00,"Total Construction Spending (000,000s)",Residential
16,COSP,RES,COSP.RES,2018-08-31,540580.00,"Total Construction Spending (000,000s)",Residential
17,COSP,RES,COSP.RES,2018-10-31,511830.00,"Total Construction Spending (000,000s)",Residential
18,COSP,RES,COSP.RES,2019-07-31,510759.00,"Total Construction Spending (000,000s)",Residential
19,COSP,RES,COSP.RES,2019-05-31,509632.00,"Total Construction Spending (000,000s)",Residential
20,COSP,RES,COSP.RES,2018-04-30,564480.00,"Total Construction Spending (000,000s)",Residential
21,COSP,RES,COSP.RES,2019-03-31,512055.00,"Total Construction Spending (000,000s)",Residential
22,COSP,RES,COSP.RES,2019-06-30,505833.00,"Total Construction Spending (000,000s)",Residential
23,CSTM,CHI,CSTM.CHI,2018-03-30,3.71,US Customs Maritime Import Shipments,"Chicago, IL"
24,CSTM,CHI,CSTM.CHI,2018-04-02,4.14,US Customs Maritime Import Shipments,"Chicago, IL"
25,CSTM,CHI,CSTM.CHI,2018-04-05,2.00,US Customs Maritime Import Shipments,"Chicago, IL"
26,CSTM,CHI,CSTM.CHI,2018-04-14,4.43,US Customs Maritime Import Shipments,"Chicago, IL"
27,CSTM,CHI,CSTM.CHI,2018-04-18,4.57,US Customs Maritime Import Shipments,"Chicago, IL"
28,CSTM,CHI,CSTM.CHI,2018-04-21,4.86,US Customs Maritime Import Shipments,"Chicago, IL"
29,CSTM,CHI,CSTM.CHI,2018-04-22,8.00,US Customs Maritime Import Shipments,"Chicago, IL"
...,...,...,...,...,...,...,...
33572,TLT,SEA,TLT.SEA,2019-07-20,2.27,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33573,TLT,SEA,TLT.SEA,2019-07-21,2.30,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33574,TLT,SEA,TLT.SEA,2019-07-22,2.33,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33575,TLT,SEA,TLT.SEA,2019-07-27,2.25,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33576,TLT,SEA,TLT.SEA,2019-07-28,2.24,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33577,TLT,SEA,TLT.SEA,2019-08-21,2.30,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33578,TLT,SEA,TLT.SEA,2019-08-24,2.08,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33579,TLT,SEA,TLT.SEA,2019-08-25,2.09,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33580,TLT,SEA,TLT.SEA,2019-09-02,2.05,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33581,TLT,SEA,TLT.SEA,2019-09-05,2.06,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33582,TLT,SEA,TLT.SEA,2019-09-07,2.17,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33583,TLT,SEA,TLT.SEA,2019-09-10,2.13,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33584,TLT,SEA,TLT.SEA,2019-09-18,1.97,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33585,TLT,SEA,TLT.SEA,2019-10-04,2.22,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33586,TLT,SEA,TLT.SEA,2019-10-19,2.09,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33587,TLT,SEA,TLT.SEA,2019-10-21,2.25,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33588,TLT,SEA,TLT.SEA,2019-10-31,2.10,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33589,TLT,SEA,TLT.SEA,2019-11-08,2.44,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33590,TLT,SEA,TLT.SEA,2019-11-26,2.44,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33591,TLT,SEA,TLT.SEA,2019-11-27,2.70,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33592,TLT,SEA,TLT.SEA,2019-12-05,2.20,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33593,TLT,SEA,TLT.SEA,2019-12-12,2.08,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33594,TLT,SEA,TLT.SEA,2019-12-25,3.18,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33595,TLT,SEA,TLT.SEA,2019-12-26,3.17,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33596,TLT,SEA,TLT.SEA,2020-01-04,2.49,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33597,TLT,SEA,TLT.SEA,2020-01-06,2.53,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33598,TLT,SEA,TLT.SEA,2020-01-16,2.47,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33599,TLT,SEA,TLT.SEA,2020-01-22,2.75,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33600,TLT,SEA,TLT.SEA,2020-02-02,2.31,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"
33601,TLT,SEA,TLT.SEA,2020-02-14,2.42,"TLT is now a legacy variable, refer to OTLT","Seattle, WA"